section.icons-container{
    width: 70%;
    margin: 50px auto;
  

    .icon-container{
        float: left;
        margin-bottom: 20px;
        width: 50%;
        overflow-wrap: break-word;
        padding: 0 30px;
        box-sizing: border-box;
      }

}


@media all and (min-width: 690px){
  section.icons-container{
  

    .icon-container{
        float: left;
        margin-bottom: 20px;
        width: 25%;
       
      }

}
}